<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="resources :: head"></div>
	<title>Department</title>
</head>

<body>
	<div class="container">
		<h1 th:text="${department.name}"></h1>
		<hr>

		<table class="table align-middle">
			<thead>
				<tr>
					<th scope="col" class="col-md-1 table-warning">ID</th>
					<th scope="col" class="col-md-2 table-warning">Name</th>
					<th scope="col" class="col-md-2 table-warning">Level</th>
					<th scope="col" class="col-md-2 table-warning">Address</th>
					<th scope="col" class="col-md-2 table-warning">Email</th>
					<th scope="col" class="col-md-2 table-warning">Website</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="degree : ${department.degrees}">
					<td th:text="${degree.id}" class="table-primary"></td>
					<td th:text="${degree.name}" class="table-primary"></td>
					<td th:text="${degree.level}" class="table-info"></td>
					<td th:text="${degree.address}" class="table-light"></td>
					<td th:text="${degree.email}" class="table-secondary"></td>
					<td th:text="${degree.website}" class="table-secondary"></td>
				</tr>
			</tbody>
		</table>
		<div>
			<a class="btn btn-primary" th:href="@{/}">Back</a>
		</div>
	</div>
	<div th:replace="resources :: scripts"></div>
</body>

</html>